body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  background-color: #3498db;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #2c3e50;
  color: #ecf0f1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#xyz {
  display: none; /* או display: inline-block; כמו שיתאים לך */
}


canvas {
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

video {
  border: 2px solid blue;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  display: block;
  margin: 10px 0;
}
